div.search {
	margin-top: 1vh;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}

div.search > input {
	flex: 1;
	height: 20px;
	border: 1px solid var(--grey-light);
	background-color: var(--grey-dark);
	border-radius: 10px;
	color: white;
	outline: none;
	font-weight: 100;
	font-family: sans-serif;
	letter-spacing: .1em;
	padding-left: 6px;
}

dialog.inactive {
	display: none;
}

.hidden {
	display: none !important;
}

.button, .file_upload_label {
	background-color: white;
	padding: .2vh 1vw;
	color: black;
	border-radius: 8px;
	vertical-align: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	margin-left: 2%;
}

input[type="file"] {
    display: none;
}

.file_upload_label {

}
