div.content-creator {
	border: 1px solid var(--grey-dark);
}

div.content-creator > div {
	background: var(--grey-dark);
	border: 8px solid #000000;
	padding: 1vh;
	display: flex;
	flex-flow: column;
}

div.content-creator > div .avatar-selector {
	margin-top: 2px;
	height: 4vh;
	border-bottom: 1px solid var(--grey-light);
}

div.content-creator > div .avatar-selector > img {
	float: left;
	height: 2.6vh;
	width: 2.6h;
	border-radius: 50%;
	border: 1px solid var(--grey-light);
}

.content-type-selector {
	float: left;
	width: 60%;
	padding-left: 2vw;
	height: 3vh;
	box-sizing: content-box;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.content-type-selector > span {
	padding: 1% 2%;
	display: block;
	float: left;
	text-transform: uppercase;
	font-weight: 200;
	font-size: .8em;
	cursor: pointer;
}

.content-type-selector > span.selected {
	background-color: white;
	color: black;
	border-radius: 8px;
	font-weight: 400;
	border: 1px solid black;
}

.content-creator textarea {
	margin-top: 1%;
	background-color: var(--grey-dark);
	border-radius: 4px;
	color: white;
	padding: 1%;
	font-family: sans-serif;
	font-weight: 200;
	letter-spacing: .05em;
}

.content-creator textarea:focus {
	outline: 1px solid var(--grey-light);
}

.content-creator > div {

}

.content-creator > div:nth-child(2) {
	display: flex;
	flex-flow: row;
	align-items: flex-end;
	justify-content: center;
}

.content-creator > div:nth-child(2) {

}

.content-creator > div > div.button-row {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	margin-top: 1vh;
}

.content-creator > div > div.button-row img {
	height: 2vh;
}

/* .content-creator > div > div.button-row > .button {
	background-color: white;
	padding: .5vh 1vw;
	color: black;
	border-radius: 8px;
	vertical-align: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	margin-left: 2%;
} */

.content-creator > div > div.button-row > .button.left {
	margin-right: auto;
}

.content-creator > div > div.button-row > .button span {
	margin-right: .5vw;
}

.timeline {

	display: flex;
	flex-flow: column nowrap;
	overflow-y: auto;
}

.content-item {
	padding: 2%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: stretch;
	align-items: flex-start;
	background: var(--grey-dark);
    border: 8px solid black;
}

.content-holder {
	flex: .8;
	min-height: 6vh;
}

.detail-holder {
	flex: .2;
	border-top: 1px solid grey;
	font-weight: 100;
	width: 100%;
	display: flex;
    align-items: center;
}

.content-item .user-avatar-photo {

	border-radius: 50%;
	height: 3vh;
	margin-right: 1vw;
}