@import "vars.css";

body, html {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
	background-color: var(--bg);
	color: var(--fg);
}

header {
	height: var(--nav-height);
	width: 100vw;
	display: block;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	border-bottom: 1px solid var(--grey-dark);
}

header > div {
	float: left;
}

header > div:nth-child(1) {
	height: var(--nav-height);
	width: var(--aside-width);
}

header > div:nth-child(1) > img {
	height: 100%;
	float: left;
}

header > div:nth-child(2) {
	height: var(--nav-height);
	width: var(--main-width);
	padding-left: 2vw;
	box-sizing: border-box;
}

header > div:nth-child(2) > nav {
	height: var(--nav-height);
	display: flex;
	cursor: pointer;
	align-items: center;
}

header > div:nth-child(2) > nav > span {
	padding: 4px 4px;
	display: block;
	float: left;
	text-transform: uppercase;
	font-weight: 200;
}


header > div:nth-child(2) > nav > span.navtext {
	padding: 4px 12px;
}

header > div:nth-child(2) > nav > :nth-child(7) {
	margin-left: 8px;
}

nav > span > img {
	height: calc(var(--nav-height) / 3);
	width: calc(var(--nav-height) / 3);
}

main, aside {
	height: calc(100vh - var(--nav-height));
	box-sizing: border-box;
}

aside {
	height: calc(100vh - var(--nav-height));
	width: var(--aside-width);
	border-right: 1px solid var(--grey-dark);
	float: left;
	padding: 0 2vw;
}

aside ~ main {
	width: calc(var(--main-width) - 2vw);
	border-right: 1px solid var(--grey-dark);
	margin-right: 2vw;
	float: left;
	display: flex;
	flex-flow: column nowrap;
}

main + aside {
	float: right;
}

nav > span.selected {
	border-radius: 8px;
	background-color: var(--grey-med);
	border: 1px solid var(--grey-light);
	box-sizing: content-box;
}

main:not(.active) { display: none; }

main h2, main h3 {
	font-weight: 100;
	margin: 1vh 0 1vh 1vh;
	letter-spacing: .05em;
}

article {
	margin-left: 2vw;
	display: flex;
	flex-flow: row nowrap;
}

article > img {
	width: 60%;
	object-fit: scale-down;
}

article > div {
	padding-left: 2vw;
}

article > div > h4 {
	margin-top: 0;
}

dialog[open] {
	width: 100vw;
	height: 100vh;
	background: #000000a0;
	border: none;
	margin: 0;
	padding: 0;
	top: 0;
}

dialog > div {
    width: 80vw;
    background: #000000;
    height: 80vh;
    margin-left: 10vw;
    margin-top: 10vh;
	box-sizing: border-box;
	border: 1px solid grey;
	padding: 2%;
	display: flex;
	flex-flow: column;
}

dialog > div > h2 {
	color: white;
	font-weight: 100;
	height: 10%;
	margin: 0;
}

dialog .upload-image-container {
	height: 80%;
}

dialog .img-preview {
	flex: 1;
	max-width: 100%;
	max-height: 100%;
	object-fit: 100%;
}

dialog > div > span {
	height: 10%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.content-image-preview-container {
	max-height: 50vh;
	margin-bottom: 1vh;
}

.content-image-preview-container.inactive {
	height: 0;
}

.content-image-preview {
	max-height: 100%;
	max-width: 100%;
}