:root {
	--bg: #000000;
	--fg: rgb(255, 255, 255);
	--grey-ultradark: rgb(16, 16, 16);
	--grey-dark: rgb(26, 29, 34);
	--grey-med: rgb(42, 47, 54);
	--grey-light: rgb(152, 152, 152);

	--nav-height: 8vh;
	--aside-width: 30vw;
	--main-width: calc(100vw - var(--aside-width));
}